h1, h2, p {
    text-align: center;
}

body {
    background-color: beige;
    font-family: serif;
    background-image: url(https://wallpaperaccess.com/full/922681.jpg);
    padding-top: 20px;
}

main {
    width: 70%;
    background-color: rgba(250, 215, 175, 0.986);
    margin-right: auto;
    margin-left: auto;
    padding: 80px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}